/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
.forgot_password{
    font-family:Arial, Helvetica, sans-serif;
}
.forgot_password .main-sidebar{
    padding-left: 0px;
}
.forgot_password .main-sidebar .sidebar{
    position: fixed;
    color: #865c6c;
    background: #f1cdd7;
    width: 514px;
    height: 656px;
    padding-top: 70px;
    padding-left: 70px;
}
.forgot_password .main-sidebar .sidebar .dribble_logo{
    width: 90px;
    height: auto;
    margin-bottom: 40px;
}
.forgot_password .main-sidebar .sidebar .heading_4{
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}
.forgot_password .form{
    margin-left: 130px;
}
.forgot_password .form a{
    color: #4f3cc9;
    text-decoration: none;
}
.forgot_password .form .back_arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    color: #6e6d7a;
    margin-top: -10px;
    margin-left: -165px;
}
.forgot_password .form .para_1{
    position: relative;
    margin-top: 45px;
    margin-right: 20px;
    text-align: end;
    margin-bottom: 160px;
    font-size: 15px;
}
.forgot_password .form .heading_4{
    font-weight: bold;
    margin-bottom: 25px;
}
.forgot_password .form .para_text{
    font-size: 15px;
    color: #000;
    margin-right: 210px;
}
.forgot_password .form label{
    color: #0d0c22;
    font-weight: bold;
}
.forgot_password .form input[type='email']{
    background-color: #f3f3f4;
    border: none;
    border-radius: 8px;
    outline: none;
    width: 433px;
}
.forgot_password .form input[type='email']:focus{
    background-color: #fff;
    border: 0.5px solid #ff92bc;
    box-shadow: 0px 0px 5px 5px #f3f3f4;
}
.forgot_password .form .btn_account{
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #ea4c89;
}
.forgot_password .form .btn_account:hover{
    opacity: 0.8;
}
}


/*Big size ipad*/
@media (min-width: 768px) and (max-width: 1199.98px) { 
    .forgot_password .main-sidebar .sidebar{
        position:static;
        background: #fff;
        width: 0px;
        height: 0px;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 193px;
    }
    .forgot_password .main-sidebar .sidebar .heading_4{
        visibility: hidden;
    }
    .forgot_password .form{
        margin-left: 180px;
    }
    .forgot_password .form .back_arrow{
        visibility: hidden;
    }
    .forgot_password .form .para_1{
        position: absolute;
        visibility: hidden;
        margin-top: 430px;
        margin-right: 0px;
        margin-left: 140px;
        font-size: 15px;
    }
    .forgot_password .form .heading_4{
        margin-top: 40px;
    }
    .forgot_password .form .para_text{
        margin-right: 200px;
    }
    .forgot_password .form .btn_account{
        position: relative;
        margin-bottom: 40px;
        padding: 10px 140px;
    }
    .forgot_password .form input[type='email']{
        width: 450px;
    }
}


/*mobile view*/
@media (max-width: 767px) { 
    .forgot_password .main-sidebar .sidebar{
        position:static;
        background: #fff;
        width: 0px;
        height: 0px;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 35px;
    }
    .forgot_password .main-sidebar .sidebar .heading_4{
        visibility: hidden;
    }
    .forgot_password .form .para_text{
        margin-right: 0px;
    }
    .forgot_password .form{
        margin-left: 20px;
    }
    .forgot_password .form .back_arrow{
        visibility: hidden;
    }
    .forgot_password .form .para_1{
        position: absolute;
        visibility: hidden;
        margin-top: 430px;
        margin-right: 0px;
        margin-left: 140px;
        font-size: 15px;
    }
    .forgot_password .form .heading_4{
        margin-top: 40px;
    }
    .forgot_password .form .btn_account{
        position: relative;
        margin-bottom: 20px;
        padding: 10px 119px;
        font-size: 10px;
    }
    .forgot_password .form input[type='email']{
        width: 345px;
    }
}

